:root {
  --color-dark: #1f2937;
  --white: #f9faf8;
  --light-gray: #e5e7eb;
  --blue: #3882f6;
  --padding-container: 360px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Sans-Serif;
  margin: 0 auto;
}

header {
  background-color: var(--color-dark);
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.header__logo {
  color: var(--white);
  font-size: 1.5rem;
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.menu__link {
  color: var(--light-gray);
  font-size: 1.125rem;
  text-decoration: none;
}

.hero {
  background-color: var(--color-dark);
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-top: 7rem;
  padding-bottom: 8rem;
  flex-wrap: wrap;
}

.hero__content {
  flex: 1;
}

.hero__heading {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.hero__subheading {
  color: var(--light-gray);
  font-size: 1.125rem;
  max-width: 450px;
  margin-bottom: 1rem;
}

.btn {
  border: none;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  padding: 0.5em 2em;
  border-radius: 4px;
}

.hero__image {
  height: 250px;
  background-color: var(--light-gray);
  width: 50%;
}

.info .wrapper {
  padding-top: 5rem;
  padding-bottom: 7rem;
}

.info__heading {
  text-align: center;
  color: var(--color-dark);
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.info__card {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.card {
  max-width: 150px;
}

.card__image {
  width: 150px;
  height: 150px;
  border: 3px solid var(--blue);
  border-radius: 8px;
}

.card__heading {
  margin-top: 0.75rem;
  text-align: center;
  line-height: 1;
}

.quotes {
  background-color: var(--light-gray);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.quotes .wrapper {
  max-width: 800px;
}

.quotes__content {
  color: var(--color-dark);
  font-size: 2.25rem;
  font-weight: light;
  font-style: italic;
}

.quotes__author {
  color: var(--color-dark);
  font-size: 1.5rem;
  font-weight: 800;
  text-align: right;
}

.cta {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.cta .wrapper {
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 3rem 7rem;
  border-radius: 8px;
  gap: 1rem;
}

.cta__heading {
  font-size: 1.5rem;
}

.cta__btn {
  background-color: var(--blue);
  color: var(--white);
  border: 2px solid var(--white);
}

footer {
  background-color: var(--color-dark);
  padding: 2rem;
}

.footer__content {
  color: var(--white);
  text-align: center;
}

@media only screen and (max-width: 1070px) {
  .wrapper {
    max-width: 850px;
  }
}

@media only screen and (max-width: 885px) {
  .wrapper {
    max-width: 768px;
  }

  .quotes__content {
    font-size: 1.75rem;
  }

  .quotes .wrapper {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .cta .wrapper {
    padding: 3rem 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 700px;
  }

  .hero__heading {
    font-size: 2.25rem;
  }

  .hero__subheading {
    font-size: 1rem;
  }
  .cta .wrapper {
    padding: 2rem 1.5rem;
  }
}

@media only screen and (max-width: 622px) {
  .wrapper {
    max-width: 500px;
  }
  
  .hero__heading {
    font-size: 2rem;
  }
  
  .cta .wrapper {
    
  }
  
  .cta__heading {
    font-size: 1rem;
  }
  
  .cta__subheading {
    font-size: 0.75rem;
    width: 75%;
  }
  
  .cta__btn {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper {
    max-width: 90%;
  }
  
  .hero {
    flex-direction: column;
  }
  
  .hero__image {
    margin-top: 1rem;
    width: 100%;
  }
  
  .quotes__content {
    font-size: 1.75rem;
  }
  
  .quotes__author {
    margin-top: 1rem;
    font-size: 1rem;
  }
  
  .cta__content {
    flex: 3;
  }
  
  .cta__btn {
    flex: 1;
  }
}

@media only screen and (max-width: 414px) {
  .menu {
    gap: 1rem;
  }
  
  .menu__link {
    font-size: 0.75rem;
  }
}